* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

#container {
    height: 100vh;
    display: flex;
}
p{
    margin: 0;
}


.right {
    width: 50vw;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
}

.left {
    width: 50vw;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(55, 113, 219);
}

.left h2 {
    padding: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.field{
    margin: 10px 0;
}
.right .loginform {
    padding: 3%;
    color: rgb(118, 120, 122);
}

.loginform input {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: 1%;
    outline-color: rgb(118, 120, 122);
}

.loginform button {
    font-size: 15px;
    margin-right: 9%;
    padding: 10px 5px;
    width: 40%;
    cursor: pointer;
    border: none;
    outline-color: rgb(118, 120, 122);
    background-color: rgb(118, 120, 122);
    color: white;
}

.loginform .login{
    background-color: rgb(253, 123, 16);
}

@media screen and (max-width:767px) {
    #container {
        display: block;
    }
    .right {
        width: 100%;
        display: block;
        text-align: center;

    }
    .left {
        width: 100%;
        text-align: center;
        height: 300px;
        justify-content: center;
    }
    .left h2 {
        margin: 0;
    }
}
/* .centered {
    position: absolute;
    top:50%;
    left: 80%;
  } */


/* .centered h2 {
    top: 50%;
    left: 50%;
    text-align: right; 
} */